body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,#1e1b2e 0%, #3b1f5c 50%, #5b2a86 100%);
}

.cabecalho{
    background-color: #43365c;
    color: #ffffff;
    width: clamp(30%, 55vw, 40%);
    border-radius: 10px;
    padding: 15px;   
    font-size: clamp(40px, 5vw, 80px);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 40px;
    margin-top: 80px;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    padding-top: 50PX;
    background-color: #2a2438;
    width: 70%;
    max-width: 1200px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.div-input{
    width: 90%;
    display: flex;
    gap: 10px;
}

#input-principal{
    background-color: #1f1a2e;
    color: white;
    height: 60px;
    width: 78%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #6d4aff;
    padding: 8px 12px; 
    font-weight: 600;
}

.div-botoes-input{
    width: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.botao-input{
    border-radius: 10px;
    border: none;
    padding: 5px;
    color: rgb(58, 58, 58);
    font-weight: bold;
    width: 100%;
    height: 28px;
    font-size: 14px;
}

.botao-hover:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.botao-adicionar{
    background-color: #7b4dff;
    color: white;
}

.botao-limpar{
    background-color: #d64545;
    color: white;
}

#tarefas{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.item-lista{
    list-style-type: none;
    display:flex;
    gap: 5px;
    align-items: center;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 20px;
}

.item-tarefa{
    background-color: #3a3152;
    color: white;
    width: 90%;
    word-wrap: break-word;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
}

.button-item-tarefa{
    width: 17px;
    height: 20px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-check-item{
    background: transparent;
    border: 1px solid #6dff8b;
    color: #6dff8b;
}

.button-excluir-item{
    background: transparent;
    border: 1px solid #ff5f7a;
    color: #ff5f7a;
}

.button-editar-item{
    background: transparent;
    border: 1px solid #b38cff;
    color: #b38cff;
}

.concluida{
    opacity: 0.4;
}

.concluida p{
    background-color: #4d3f69;
}




